header .container {
    background: linear-gradient(rgba(143, 143, 143, 0.5), rgba(143, 143, 143, 0.5)), url(header.jpg);
    background-size: cover;
    /*background-attachment: fixed;*/
    height: 40vw;
}

.navleft{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.navright{
  display:flex;
  justify-content: flex-end;
  align-items: center;

}

#logo {
    display: inline;
    height: 25px;
    margin:5px;
}

#searchicon {
    display: inline;
    height:15px;
}

#postersmall {
    display: inline;
    width: 25px;
}
#poster {
    width: 75px;
    margin-top: 30px;
}
#adpic {
    object-fit: cover;
    height: 30vw;
}
header h5 {
    color: #083451;
    display: inline;
}
header h1 {
    color: white;
    font-size: 6vw;
    margin-top: 10vw;
}
header h6 {
    color: #083451;
    margin-top: 0;
}

.postertag {
  margin-bottom:20px;
}

.lc h1{
  color:#083451;
  font-family:Arial Narrow;
  font-size:40px;
}




.rc {
    padding-left: 30px;
    padding-right: 30px;
}
.rc h4{
  margin-bottom:0;
  color:#2369A6;
}

.rc p{
  margin-bottom:30px
}

.ad {
    background: linear-gradient(rgba(5, 114, 134, 0.5), rgba(143, 143, 143, 0.5)), url(https://unsplash.it/280/300?random);
    background-size: cover;
    height:22vw;
    margin:0px;

}

.footerpic {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.fp {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    height: 250px;
}
.LL {
    background: linear-gradient(rgba(5, 114, 134, 0.5), rgba(143, 143, 143, 0.5)), url(https://unsplash.it/300/300?random);
    background-size: cover;
}
.LC {
    background: linear-gradient(rgba(5, 114, 134, 0.5), rgba(143, 143, 143, 0.5)), url(https://unsplash.it/400/300?random);
    background-size: cover;
}
.RC {
    background: linear-gradient(rgba(5, 114, 134, 0.5), rgba(143, 143, 143, 0.5)), url(https://unsplash.it/280/325?random);
    background-size: cover;
}
.RR {
    background: linear-gradient(rgba(5, 114, 134, 0.5), rgba(143, 143, 143, 0.5)), url(https://unsplash.it/250/301?random);
    background-size: cover;
}
.fp h3 {
  font-size: 20px;
}
.fnav {
  background-color:#083451;
  display: flex;
  align-items:center;
}

#TIY{
  display:inline;
  height:40px;
}

.leftfooter{
  display:flex;
  justify-content: center;
  align-items: center;
}

.rightfooter{
  display:flex;
  justify-content: center;
  /*align-content: center;*/
}
.rightfooter ul {
  list-style: none;
  margin:0;
}
.rightfooter li {
  display: inline-block;
  padding:0 10px;
  border-left:#777777 solid 1px;
}
li:first-child {
  border-left: 0}


footer h6 {
    display: inline;
}
footer h1{
  color:#083451;
  font-family:Arial Narrow;
  font-weight: bold;
}
footer h3{
  color:#083451;
}

main h5 {
    display: inline;
}
